/* Use this to style your elements and build them in your elements.html file. When you're finished building and styling, you should be able to preview what they look and behave like, responsively. After that you can copy/paste the elements where you need them and all that needs to change is their positioning within the containing divs */
.section-title {
  font-family: 'noe-display', 'Playfair Display', serif;
  font-weight: 600;
  font-size: 34px;
  line-height: 36px;
  padding: 0 0 20px;
  width: 100%;
}

.section-description {
  padding: 0 0 20px;
  width: 375px;
}

.section-list {
  width: 375px;

  li {
    padding: 0 0 13px;
  }

  .social-link{
    font-size: 10px;
    font-weight: 900;
    padding: 0 30px 0 0;
    text-transform: uppercase;
  }
}
