//! COLORS _____________________________
//! ____________________________________
$dark-blue: #121527;
$white: #fff;

//! FONTS ______________________________
//! ____________________________________
// $didonesque: 'didonesque-roman', serif;
$montserrat: 'Montserrat', sans-serif;


//! BREAK POINTS _______________________
//! ____________________________________
$break-one: 768px;
$break-two: 1028px;
