.container {
  padding: 54px 30px;
}

.awards-image {

  img {
    height: 89px;
    width: 248px;
  }
}

.hero-image--container {
  position: inherit;
  width: 375px;
}

.hero-image {
  width: 100%;
}

.hero-image--description {
  font-size: 11px;
  padding: 8px 0 0;
}
